:root {
    --background: #000000;
    --gameBoard:#ffff3e;
    --text: #ffffff;
}
* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Ultra", sans-serif;
    display: grid;
    justify-content: center;
    align-content: center;
}
header {
    display:flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
main {
    
    display: grid;
    row-gap: 20px;
    justify-content:center;
    align-content:center;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    column-gap:10px;
    row-gap:10px;

}
.showPlayer{
    background-color: var(--background);
    color: var(--text);
    display:grid;
    grid-template-columns: 150px 150px;
    font-size: 30px;
    column-gap: 10px;
    justify-content:center;
    align-items: center;
}
.player-x, .player-o{
   height: 30px;
   background-color: #24083d;
   color: var(--gameBoard);
   border: 1px solid var(--background);
}

.player-x.active {
    border: 1px solid var(--gameBoard);
}
.player-o.active{
    border: 1px solid var(--gameBoard);
}
@keyframes size {
    from{
        font-size:7rem
    }
    to {
        font-size:5rem
    }
}
.board {
    background: var(--gameBoard);
    border-radius: 20%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #24083d;
    font-size: 5rem;
    user-select: none;
}
.board.active{
    animation-name:size;
    animation-duration:1s;
}
.board.active-computer{
    animation-name:size;
    animation-duration:2s;
}    

#message {
    text-align:center;
    font-size:4rem;
}
#restart {
    text-align:center;
    font-size:3rem;
    font-family: "Ultra";
    color: #ffff3e;
    background-color:#24083d;
    border:dotted #ffff3e;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
  
.overlay.active {
    display: block;
}
#endGamePart {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 30vw;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }
  
#endGamePart.active {
    transform: translate(-50%, -50%) scale(1);
  }

footer {
    width: 100%;
    position: fixed;
    bottom:0;
    display:flex;
    justify-content: center;
}
@media (max-width: 600px) {
    #endGamePart{
        width:70vw;
        height:fit-content;
    }
  }
